<header class="container flex justify-center mb-5 py-4">
    <nav class="container justify-items-center mx-auto flex justify-between">
        <a href="/">Inicio</a>
        <ul class="max-w-2xl flex flex-row ">
            <li class="mx-2"><a href="/" class="link">Perguntar</a></li>
            <li class="mx-2"><a href="/home" class="link">Responder</a></li>
            <li class="mx-2"><a target="_blank" href="https://github.com/Lucasmanuelmz/ask-page" class="link">Github</a></li>
            <li class="mx-2"><a target="_blank" href="https://www.workana.com/freelancer/3b0be703e22f350128329fafe08171f8" class="link">Workana</a></li>
        </ul>
    </nav>
</header>