<%-include('Head'); -%>
<%questions.forEach((question) => {%>
  <div class="group ...">
    <h4><%= question.question%></h4>
    <svg class="hidden group-has-[a]:block ...">
      <!-- ... -->
    </svg>
    <p><%= question.description%></p>
  </div>
<%})%>

<%-include('Footer'); -%>